// all imports variables, keyframes & mixin
@import './mixin';

// deel 1 card
@import './card';

// deel 3 widget
@import './socialmedia';

* {
    font-family: "Ubuntu", sans-serif;
}

body {
    margin: 0;
    background-color: #c3cfe2;
}

h1 {
    color: $white;
    padding-top: 60px;
    font-size: 20px;
}

a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

a:hover {
    color: $white;
}

