@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body {
    background: #231F20;
    text-align: center;
}

h1 {
    color: #FFF;
    font-family: 'Oswald';
    font-weight: 700;
    position: relative;
    margin: 30px auto;
    text-transform: uppercase;
    width: 550px;
}

h1::before,
h1::after {
    background: #4A90E2;
    content: '';
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 28px;
    /* margin: 30px auto; */
}

h1::before {
    border-radius: 200px 10px 10px 200px;
    left: 15px;
    top: 11px;
}

h1::after {
    border-radius: 10px 200px 200px 10px;
    left: 510px;
    top: 11px;
}
