.card-list {
    display: flex;
    flex-direction: column;
    position: relative;
}

// originally had the .c# areas written above the @media, 
// but the output of the compiler didn't agree with me

@media (min-width: 768px) and (max-width: 1439px) {
    .card-list {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "c1 c2"
            "c3 c4"
            "c5 c6"
            "c7 .";
    }

    .c1 {
        grid-area: c1;
    }

    .c2 {
        grid-area: c2;
    }

    .c3 {
        grid-area: c3;
    }

    .c4 {
        grid-area: c4;
    }

    .c5 {
        grid-area: c5;
    }

    .c6 {
        grid-area: c6;
    }

    .c7 {
        grid-area: c7;
    }

    .c8 {
        grid-area: c8;
    }

    .c9 {
        grid-area: c9;
    }
}

@media (min-width: 1440px) {
    .card-list {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "c1 c2 c3"
            "c4 c5 c6"
            "c7 . .";
        justify-content: center;
        align-content: center;
    }

    .c1 {
        grid-area: c1;
    }

    .c2 {
        grid-area: c2;
    }

    .c3 {
        grid-area: c3;
    }

    .c4 {
        grid-area: c4;
    }

    .c5 {
        grid-area: c5;
    }

    .c6 {
        grid-area: c6;
    }

    .c7 {
        grid-area: c7;
    }

    .c8 {
        grid-area: c8;
    }

    .c9 {
        grid-area: c9;
    }
}